# Preprocessing Step (Etapa de Pré-Processamento)

## Table of Contents
* [Packages](#1)
* [Preprocessing Utility Function](#2)
* [Preprocessing](#3)

<a name="1"></a>
## Packages (Pacotes)

In [9]:
import os

import pandas as pd
import string
import re

<a name="2"></a>
## Preprocessing Utility Functions (Funções Utilitárias de Pré-processamento)

In [12]:
def preprocess(dataset):
    """
    
    """
    dataset = dataset['description'].str.lower()

<a name="3"></a>
## Preprocessing (Pré-processamento)

In [15]:
X_comics = pd.read_csv('../data/raw/comics_corpus.csv').drop_duplicates()
X_char = pd.read_csv('../data/raw/char_corpus.csv')
X_comics.head()

,id,title,description
0,94799,Demon Days: Mariko (2021) #1 (Variant),IN THE SHADOW OF KIRISAKI MOUNTAIN?A SECRET HI...
1,93339,The Mighty Valkyries (2021) #3,CHILDREN OF THE AFTERLIFE! While Kraven the Hu...
2,94884,The Mighty Valkyries (2021) #3 (Variant),CHILDREN OF THE AFTERLIFE! While Kraven the Hu...
3,93350,X-Corp (2021) #2,A SHARK IN THE WATER! After X-CORP’s shocking ...
4,94896,X-Corp (2021) #2 (Variant),A SHARK IN THE WATER! After X-CORP?s shocking ...

In [17]:
X_char.head()

,id,name,description
0,1017100,A-Bomb (HAS),Rick Jones has been Hulk's best bud since day ...
1,1009144,A.I.M.,AIM is a terrorist organization bent on destro...
2,1009146,Abomination (Emil Blonsky),"Formerly known as Emil Blonsky, a spy of Sovie..."
3,1010354,Adam Warlock,Adam Warlock is an artificially created human ...
4,1011031,Agent X (Nijo),Originally a partner of the mind-altering assa...

In [19]:
X_comics.shape

(17733, 3)

In [21]:
X_comics['description'].str.lower()

0        in the shadow of kirisaki mountain?a secret hi...
1        children of the afterlife! while kraven the hu...
2        children of the afterlife! while kraven the hu...
3        a shark in the water! after x-corp’s shocking ...
4        a shark in the water! after x-corp?s shocking ...
                               ...
17728    a collection of epic stories featuring human t...
17729    dr. jack castle investigates a series of murde...
17730    a historic comic series dating all the way bac...
17731    the one that started it all, featuring the fir...
17732    concluding this chilling chapter of stephen ki...
Name: description, Length: 17733, dtype: object

In [241]:
punctuations = string.punctuation
print(f'Punctuations: {punctuations}')

Punctuations: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~